.env
node_modules

debug_500_light.ps1
debug_500_v2.ps1
debug_500_v3.ps1
debug_500.ps1
debug_output.txt

server.log
server_final_verify.log
server_final.log
server_final_v2.log
server_final_v3.log
server_final_v4.log
server_verify.log

types.txt
